* {
    font-family: helvetica, arial;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

a{
    vertical-align: baseline;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border: 0;
    color: black;
    text-decoration: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.textCenter{
    text-align: center;
}

.flex{
    display: flex;
}

.flexRow{
    display: flex; 
    flex-direction: row;
}

.flexCol{
    display: flex;
    flex-direction: column;
}
/*
.wrap{
    flex-wrap: wrap;
}

.spaceAround{
    justify-content: space-around;
}

.spaceBetween{
    justify-content: space-between;
}

.spaceCenter{
    justify-content: center;
}

.itemCenter{
    align-items: center;
}

.contentCenter{
    align-content: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}